@import './colors';
@import './mixins';
@import './shared';

body {
    font-family: Montserrat, sans-serif;
}

.top-navigation {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 99;
    float: right;

    &__burger {
        background: white url('./images/hamburger_icon.svg') no-repeat 50%;
        border-radius: 5px;
        border: 1px solid $black;
        height: 36px;
        width: 40px;

        @include desktop {
            display: none;
        }
    }

    &__desktop {
        @include mobile {
            display: none;
        }
    }

    &__link {
        border-radius: 5px;
        border: 1px solid $link-border;
        color: $black;
        display: inline-block;
        margin-left: 15px;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        width: 70px;

        &:hover {
            background: $white;
            border-color: $accent;
        }
    }
}

.mobile-navigation {
    background: rgba(0, 0, 0, .7);
    height: 100vw;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 100;
    display: flex;
    justify-content: end;

    &__box {
        align-content: center;
        align-items: center;
        background: white;
        border-radius: 5px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        height: 230px;
        justify-content: space-around;
        padding: 10px 25px;
        width: 130px;

        // override
        > .top-navigation__link {
            background: black;
            color: white;
            margin-left: 0;
            padding: 15px;
            width: 100%;
        }
    }
}

.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    max-height: 70vw;

    h1 {
        font-size: 130px;
        font-weight: 700;
        letter-spacing: 31px;
        line-height: 110px;
        margin: 0;
        padding-bottom: 10px;
        text-align: center;

        > span {
            color: $accent;
        }
    }

    .intro-description {
        font-size: 20px;
        text-align: center;
        letter-spacing: 8px;
    }
}

.work {
    position: relative;
    height: 100vh;
    max-height: 70vw;
    font-size: 16px;
    line-height: 1.7em;
}

.work.weareglow {
    background-image: url('./images/weareglow.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.work.criteo {
    background-color: #717171;
    background-image: url('./images/criteo2.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.weareglow-holder {
    position: absolute;
    left: 10%;
    top: 5%;
    width: 300px;
}

.weareglow-holder.criteo {
    width: 260px;
}

.work-link {
    color: #000;
    font-size: 18px;
}

.work-link.white {
    color: #fff;
}

.footer {
    position: relative;
    padding: 1500px 18px 11px;
    background-color: #cbcbcb;
    background-image: url('./images/cards.jpg');
    background-position: 50% 0;
    background-size: 1400px;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.copyrights {
    padding: 35px;
    color: #999;
    font-size: 13px;
    text-align: right;
}

.contact-name {
    margin-bottom: 10px;
    font-size: 18px;
}

.contact-email {
    color: #6185a7;
    font-size: 15px;
}

.contact-phone {
    margin-top: 10px;
    margin-bottom: 7px;
    margin-left: -12px;
    font-size: 19px;
}

.personal-contact {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: -10px;
    padding: 15px;
    background-color: hsla(0, 0%, 80%, .18);
}
