@import './colors';

.hidden {
    display: none !important;
}

a {
    text-decoration-color: $black;
    color: $black;

    &.inversed {
        text-decoration-color: $white;
        color: $white;
    }

    &:hover {
        text-decoration-color: $accent;
    }
}
